html,
body {
  background: #eceff4;
  color: #2e3440;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

a {
  color: #5e81ac;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  top: 100%;
  left: -2px;
  right: -2px;
  z-index: -1;
  background: #d8dee9;
  transition: all 300ms;
}

a:hover::after {
  top: -2px;
}

article,
section {
  max-width: 65ch;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #2e3440;
    color: #eceff4;
  }
  a {
    color: #88c0d0;
  }
  a::after {
    background: #4c566a;
  }
}
