html,
body {
  background-color: #eceff4;
  color: #2e3440;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;

  /* Background pattern */
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #eceff4 20%,
      #eceff4 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #eceff4 20%,
        #eceff4 80%,
        transparent 80%,
        transparent
      )
      35px 35px,
    linear-gradient(
        #d8dee9 2.8000000000000003px,
        transparent 2.8000000000000003px
      )
      0 -1.4000000000000001px,
    linear-gradient(
        90deg,
        #d8dee9 2.8000000000000003px,
        #eceff4 2.8000000000000003px
      ) -1.4000000000000001px 0;
  background-size: 70px 70px, 70px 70px, 35px 35px, 35px 35px;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

a {
  color: #5e81ac;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  top: 100%;
  left: -2px;
  right: -2px;
  z-index: -1;
  background: #d8dee9;
  transition: all 300ms;
}

a:hover::after {
  top: -4px;

  left: -4px;
  right: -4px;
}

section {
  background-color: #eceff4;
  border: 4px solid #d8dee9;
  max-width: 65ch;
  margin: 0 0 1rem;
  padding: 1rem 2rem;
}

hr {
  border: 2px solid #d8dee9;
  margin: 1rem 0;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #2e3440;
    color: #eceff4;
    /* Background pattern */
    opacity: 1;
    background: radial-gradient(
        circle,
        transparent 20%,
        #2e3440 20%,
        #2e3440 80%,
        transparent 80%,
        transparent
      ),
      radial-gradient(
          circle,
          transparent 20%,
          #2e3440 20%,
          #2e3440 80%,
          transparent 80%,
          transparent
        )
        35px 35px,
      linear-gradient(
          #3b4252 2.8000000000000003px,
          transparent 2.8000000000000003px
        )
        0 -1.4000000000000001px,
      linear-gradient(
          90deg,
          #3b4252 2.8000000000000003px,
          #2e3440 2.8000000000000003px
        ) -1.4000000000000001px 0;
    background-size: 70px 70px, 70px 70px, 35px 35px, 35px 35px;
  }
  a {
    color: #88c0d0;
  }
  a::after {
    background: #3b4252;
  }
  section {
    background-color: #2e3440;
    border-color: #3b4252;
  }
  hr {
    border-color: #3b4252;
  }
}
